/*=================Preferencias por defecto===================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
}
@font-face {
    font-family: 'fuentePixel';
    src: url(fuentes/retro_computer_personal_use.ttf);
}
@font-face {
    font-family: 'fuenteModal';
    src: url(fuentes/Montserrat-VariableFont_wght.ttf);
}
/*=================Estilos html==========================*/
.contenido-header{
   background-color: rgb(22, 22, 22);
   justify-content: space-around;
   display: flex;
   padding: 20px;
}
footer{
    background-color: black;
    
    
}
footer h1{
    color: white;
    padding: 20px;
    font-family: 'fuentePixel';
    font-size: 15px;
    text-align: center;
}
.imagenes div img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px;
    
}
.imagenes div h3{
    text-align: center;
    margin-top: 20px;
    font-family: 'fuentePixel';
}
hr{
    margin-top: 20px;
    padding: 2px;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
}
.contenido-header img{
    width: 100px;
}
.nav{
    display: flex;
    flex-direction: row;
}
.nav ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
.nav li{
    list-style: none;
    display: block;
    padding: 5px 15px 5px 15px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 25px 0 25px;
    display: block;
    border-radius: 20px;
    font-family: 'fuenteModal';
    font-size: 22px;
    padding: 5px 15px 5px 15px;
}
.nav a:hover{
    cursor: pointer;
    background-color: rgb(73, 73, 73);
}
.abrirMenu, .cerrarMenu{
    font-size: 20px;
    color: white;
    display: none;
}
#check{
    display: none;
}
.seccion-inicio{
    background-color: rgb(39, 39, 39);
    width: 25%;
    height: 75vh;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 30px;
    box-shadow: 0 0 12px;
}
.seccion-inicio > img{
    display: flex;
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 55px;
    left: 25px;
    border: 6px solid  rgb(39, 39, 39);
    
    
}
.titulo-info{
    border-bottom: 6px solid  rgb(53, 52, 52);
    display: flex;
    height: 18vh;
    background-color: rgb(51, 53, 53);
    border-radius: 20px 20px 0 0;
    
    
}
.titulo-info > h1{
    color: white;
    margin: 0 auto;
    padding-top: 10%;
    font-size: 38px;
    font-family: 'fuentePixel';
    font-weight: 100;
    
}
#info-usuario{
    display: block;
    background-color: rgb(26, 25, 25);
    margin: 0 auto;
    width: 90%;
    height: 48vh;
    border-radius: 10px;
    position: relative;
    bottom: 40px;
}
.separador{
    border: 1px solid rgb(185, 185, 185);
    margin: 18px 12px 0 12px;
}
.linea-1 span
{
  color: white;
  display: block;
  padding: 15px 0px 0px 15px;
  font-family: 'fuenteModal';
  font-size: 18px;
}
.icono-copy
{
    color: white;
    display: block;
    font-size: 20px;
    position: relative;
    right: 20px;
    top: 15px;
    transition: 1s;
}
.icono-copy:hover
{
    cursor: pointer;
    transform: translateY(-5px);
}
.linea-1 > ul{
    display: flex;
    justify-content: space-between;
}
.linea-1 > h3{
    display: block;
    padding: 15px 0px 0px 15px;
    color: white;
    font-size: 18px;
    font-family: 'fuentePixel';
    font-weight: 100;
}
.linea-2 > ul > li{
    color: white;
    list-style: none;
    padding: 10px 0 10px 0;
    font-family: 'fuenteModal';
    font-size: 18px;
}
.linea-2 > ul > li > a{
    color: rgb(94, 153, 130);
    text-decoration: none;
}
.linea-2 > ul > li > a:hover{
    cursor: pointer;
    color: rgb(125, 203, 226);
}
.linea-2 ul{
    padding: 15px 0px 0px 15px;
}
.linea-3 h3{
    padding: 15px 0 0 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'fuentePixel';
    font-weight: 100;
}
.linea-3 > img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 135px;
}
.parrafo > span{
    color: white;
    padding: 12px 0px 10px 0px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: 'fuenteModal';
}
.parrafo > a{
    display: block;
    margin: 0 auto;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    font-family: 'fuentePixel';
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: rgb(79, 121, 148);
    color: white;
    font-family: 100;
    text-decoration: none;
    width: 30%;
    text-align: center;
}
.parrafo > a:hover{
    cursor: pointer;
    background-color: rgb(100, 178, 197);
    transform: translateY(-6px);
    box-shadow: 0 0 20px rgb(43, 42, 42);
}
.formulario
{
    background-color: #242525;
    width: 40%;
    height: 40vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    
    
}
.formulario > ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}
.formulario > ul >  label > i{
    color: white;
    padding: 20px;
    font-size: 30px;
}
.formulario > ul > input{
    outline: none;
    color: black;
    padding: 6px 0 6px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'fuenteModal';
    font-size: 12px;
}
.separador2{
    border: 2px solid rgb(32, 32, 32);
    margin: 5% 20px 0 20px;
}
.contacto > h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'fuentePixel';
}
.formulario > button{
   margin: 0 auto;
   display: block;
   margin-top: 3%;
   padding: 6px 30px 6px 30px;
   border-radius: 20px;
   outline: none;
   border: none;
   background-color:  rgb(79, 121, 148);
   font-family: 'fuenteModal';
   font-size: 18px;
   color: white;
}
.formulario > button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(100, 100, 100);
}
@media (max-width:1600px) {
    .seccion-inicio
    {
        width: 40%;
        height: auto;
    }
    #info-usuario{
        height: 60vh;
    }
    .formulario
{
    background-color: #242525;
    width: 40%;
    height: 65vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 50%;
    
}
.formulario > ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}
.formulario > ul >  label > i{
    color: white;
    padding: 20px;
    font-size: 30px;
}
.formulario > ul > input{
    outline: none;
    color: black;
    padding: 6px 0 6px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'fuenteModal';
    font-size: 12px;
}
.separador2{
    border: 2px solid rgb(32, 32, 32);
    margin: 5% 20px 0 20px;
}
h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'fuentePixel';
}
.formulario > button{
   margin: 0 auto;
   display: block;
   margin-top: 3%;
   padding: 6px 30px 6px 30px;
   border-radius: 20px;
   outline: none;
   border: none;
   background-color:  rgb(79, 121, 148);
   font-family: 'fuenteModal';
   font-size: 18px;
   color: white;
}
.formulario > button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(100, 100, 100);
}
}
@media (max-width:1200px) {
    .seccion-inicio
    {
        width: 50%;
    }
    #info-usuario{
        height: 60vh;
    }
    .formulario
{
    background-color: #242525;
    width: 60%;
    height: 48vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    
}
.formulario > ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}
.formulario > ul >  label > i{
    color: white;
    padding: 20px;
    font-size: 30px;
}
.formulario > ul > input{
    outline: none;
    color: black;
    padding: 6px 0 6px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'fuenteModal';
    font-size: 12px;
}
.separador2{
    border: 2px solid rgb(32, 32, 32);
    margin: 5% 20px 0 20px;
}
.contacto >h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'fuentePixel';
}
.formulario > button{
   margin: 0 auto;
   display: block;
   margin-top: 3%;
   padding: 6px 30px 6px 30px;
   border-radius: 20px;
   outline: none;
   border: none;
   background-color:  rgb(79, 121, 148);
   font-family: 'fuenteModal';
   font-size: 18px;
   color: white;
}
.formulario > button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(100, 100, 100);
}
}
@media (max-width:1100px) {
    .seccion-inicio
    {
        width: 50%;
    }
    #info-usuario{
        height: 85vh;
    }
    .formulario
    {
        background-color: #242525;
        width: 80%;
        height: 75vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        margin-bottom: 20%;
        
    }
}
@media (max-width:990px) {
    .seccion-inicio
    {
        width: 50%;
    }
    .linea-3 a{
        width: 50%;
    }
    #info-usuario{
        height: 85vh;
    }
}
@media (max-width:800px) {
    .seccion-inicio
    {
        width: 80%;
    }
    #info-usuario{
        height: 60vh;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 100px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
    #check:checked ~  .nav
    {
     right: 0;
    }
    .cerrarMenu
    {
     position: absolute;
     top: 40px;
     right: 40px;
    }
    .formulario
{
    background-color: #242525;
    width: 90%;
    height: 70vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 20%;
    
}
.formulario > ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}
.formulario > ul >  label > i{
    color: white;
    padding: 20px;
    font-size: 30px;
}
.formulario > ul > input{
    outline: none;
    color: black;
    padding: 6px 0 6px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'fuenteModal';
    font-size: 12px;
}
.separador2{
    border: 2px solid rgb(32, 32, 32);
    margin: 5% 20px 0 20px;
}
.contacto >h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'fuentePixel';
}
.formulario > button{
   margin: 0 auto;
   display: block;
   margin-top: 3%;
   padding: 6px 30px 6px 30px;
   border-radius: 20px;
   outline: none;
   border: none;
   background-color:  rgb(79, 121, 148);
   font-family: 'fuenteModal';
   font-size: 18px;
   color: white;
}
.formulario > button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(100, 100, 100);
}
}
@media (max-width:750px) {
    .imagenes div img{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
        box-shadow: 0 0 15px;
        width: 70%;
        
    }
    
    .seccion-inicio
    {
        width: 80%;
    }
    #info-usuario{
        height: 60vh;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 100px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
    #check:checked ~  .nav
    {
     right: 0;
    }
    .cerrarMenu
    {
     position: absolute;
     top: 40px;
     right: 40px;
    }
    .formulario
{
    background-color: #242525;
    width: 90%;
    height: 75vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    margin-bottom: 20%;
    
}
.formulario > ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}
.formulario > ul >  label > i{
    color: white;
    padding: 20px;
    font-size: 30px;
}
.formulario > ul > input{
    outline: none;
    color: black;
    padding: 6px 0 6px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'fuenteModal';
    font-size: 12px;
}
.separador2{
    border: 2px solid rgb(32, 32, 32);
    margin: 5% 20px 0 20px;
}
.contacto >h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'fuentePixel';
}
.formulario > button{
   margin: 0 auto;
   display: block;
   margin-top: 3%;
   padding: 6px 30px 6px 30px;
   border-radius: 20px;
   outline: none;
   border: none;
   background-color:  rgb(79, 121, 148);
   font-family: 'fuenteModal';
   font-size: 18px;
   color: white;
}
.formulario > button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(100, 100, 100);
}
}
@media (max-width:540px) {
    
    .seccion-inicio
    {
        width: 90%;
    }
    #info-usuario{
        height: 70vh;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 20px;
        top: 30px;
    }
    .abrirMenu
    {
        position: relative;
        left: 100px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
.formulario
{
    background-color: #242525;
    width: 90%;
    height: 70vh;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    
}
.formulario > ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
}
.formulario > ul >  label > i{
    color: white;
    padding: 20px;
    font-size: 30px;
}
.formulario > ul > input{
    outline: none;
    color: black;
    padding: 6px 0 6px 10px;
    width: 50%;
    border-radius: 10px;
    border: none;
    font-family: 'fuenteModal';
    font-size: 12px;
}
.separador2{
    border: 2px solid rgb(32, 32, 32);
    margin: 5% 20px 0 20px;
}
h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'fuentePixel';
}
.formulario > button{
   margin: 0 auto;
   display: block;
   margin-top: 3%;
   padding: 6px 30px 6px 30px;
   border-radius: 20px;
   outline: none;
   border: none;
   background-color:  rgb(79, 121, 148);
   font-family: 'fuenteModal';
   font-size: 18px;
   color: white;
}
.formulario > button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgb(100, 100, 100);
}
}
@media (max-width:500px) {
    
    .seccion-inicio
    {
        width: 92%;
    }
    #info-usuario{
        height: 55vh;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 10vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 15px;
    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 10px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    .contacto > h1{
        text-align: center;
        padding-top: 5%;
        font-family: 'fuentePixel';
        font-size: 20px;
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 3%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
    footer{
        margin-top: 10%;
    }
}
@media (max-width:480px) {
    
    .seccion-inicio
    {
        width: 92%;
    }
    #info-usuario{
        height: 55vh;
    }
    .linea-3 a{
        width: 50%;
    }
    #copiar{
        font-size: 15px;
        padding-left: 20px;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 70vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 

    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 20px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    .contacto > h1{
        text-align: center;
        padding-top: 5%;
        font-family: 'fuentePixel';
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 3%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
}
@media (max-width:450px) {
    .seccion-inicio
    {
        width: 95%;
        
        
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    #info-usuario{
        height: 80vh;
    }
    #info-usuario span{
        font-size: 15px;

    }
    #copiar{
        position: relative;
        right: 20px;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 10px 0 5px 0;
        font-size: 14px;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 48vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 15px;
    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 30px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    .contacto > h1{
        text-align: center;
        font-family: 'fuentePixel';
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 3%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
}
@media (max-width:405px) {
    .seccion-inicio
    {
        width: 95%;
        
        
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    #info-usuario{
        height: 90vh;
         
    }
    #info-usuario span{
     font-size: 16px;
    }
    #copiar{
        font-size: 15px;
        position: relative;
        right: 20px
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 10px 0 5px 0;
        font-size: 14px;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 48vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 15px;
    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 30px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    .contacto > h1{
        text-align: center;
        font-family: 'fuentePixel';
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 3%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
    .boton{
        margin-bottom: 20px;
    }
}
@media (max-width:670px) {
    .imagenes div img{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
        box-shadow: 0 0 15px;
        width: 70%;
        
    }
    .imagenes div h3{
        text-align: center;
        margin-top: 20px;
        font-family: 'fuentePixel';
    }
    hr{
        margin-top: 20px;
        padding: 2px;
        background-color: black;
        margin-left: 25%;
        margin-right: 25%;
    }
    .seccion-inicio
    {
        width: 92%;
    }
    #info-usuario{
        height: 55vh;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 70vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        margin-bottom: 20%;
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 15px;
    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 30px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    h1{
        text-align: center;
        padding-top: 5%;
        font-family: 'fuentePixel';
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 3%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
}
@media (max-width:600px) {
    .imagenes div img{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
        box-shadow: 0 0 15px;
        
    }
    .imagenes div h3{
        text-align: center;
        margin-top: 20px;
        font-family: 'fuentePixel';
    }
    hr{
        margin-top: 20px;
        padding: 2px;
        background-color: black;
        margin-left: 25%;
        margin-right: 25%;
    }
    .seccion-inicio
    {
        width: 92%;
    }
    #info-usuario{
        height: 55vh;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 20px 0 10px 0;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 70vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        margin-bottom: 20%;
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 15px;
    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 30px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    h1{
        text-align: center;
        padding-top: 5%;
        font-family: 'fuentePixel';
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 3%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
}
@media (max-width:400px) {
    .seccion-inicio
    {
        width: 95%;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    #info-usuario{
        height: 82vh;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 10px 0 5px 0;
        font-size: 14px;

    }
    .formulario
    {
        background-color: #242525;
        width: 90%;
        height: 70vh;
        padding: 20px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 20px;
        
    }
    .formulario > ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 15px;
    }
    .formulario > ul >  label > i{
        color: white;
        padding: 20px;
        font-size: 30px;
    }
    .formulario > ul > input{
        outline: none;
        color: black;
        padding: 6px 0 6px 10px;
        width: 70%;
        border-radius: 10px;
        border: none;
        font-family: 'fuenteModal';
        font-size: 12px;
    }
    .separador2{
        border: 2px solid rgb(32, 32, 32);
        margin: 5% 20px 0 20px;
    }
    .contacto >h1{
        text-align: center;
        padding-top: 5%;
        font-family: 'fuentePixel';
    }
    .formulario > button{
       margin: 0 auto;
       display: block;
       margin-top: 5%;
       padding: 6px 30px 6px 30px;
       border-radius: 20px;
       outline: none;
       border: none;
       background-color:  rgb(79, 121, 148);
       font-family: 'fuenteModal';
       font-size: 18px;
       color: white;
    }
    .formulario > button:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgb(100, 100, 100);
    }
}
@media (max-width:380px) and (max-height:650px) {
    .seccion-inicio
    {
        width: 95%;
    }
    .linea-3 a{
        width: 50%;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    #info-usuario{
        height: 82vh;
    }
    .abrirMenu
    {
        position: relative;
        left: 50px;
        top: 30px;
    }
    .abrirMenu, .cerrarMenu
    {
        display: block;
        padding-right: 20px;
    }
    .nav
    {
     position:fixed;
     width: 100%;
     height: 100vh;
     background: #242525;
     right: 100%;
     top: 0;
     text-align: center;
     padding: 100px 0;
     z-index: 100;
     transition: 0.8s;
    }
    .nav > ul {
     display: flex;
     flex-flow: column wrap;
     margin: 0 auto;
     margin-bottom: 100%;
    }
    .nav > ul > li > a:hover{
     cursor: pointer;
     background-color: rgb(55, 84, 104);
     border-radius: 25px;
     transition: .5s;
 
    }
    .nav > ul > li > a{
        padding: 10px 0 5px 0;
        font-size: 14px;

    }
    .formulario{
        margin-bottom: 50%;
        height: 70vh;
    }
}
